@model Proje.Models.Model.Hakkimizda
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section class="about" data-aos="fade-up">
    <div class="container"><h1>HAKKIMIZDA</h1>
        <div class="row">
            <div class="col-lg-6">
                <img src="~/Images/foto.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h1>Kurumsal Web Hakkında</h1> <br /><br />
                <h4 class="fst-italic">
                    Blog siteleri, internet kullanıcılarının kişisel deneyimlerini, fikirlerini,
                    bilgilerini ve ilgi alanlarını paylaştığı, etkileşimli bir platformdur.
                </h4><br /><br />
                <ul>
                    <li><i class="bi bi-check2-circle"></i><h5>Bloglar, çeşitli konularda içerik barındırır ve kullanıcılara geniş bir bilgi yelpazesi sunar.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Bloglar, satış ortaklığı veya reklam geliri gibi yöntemlerle gelir elde etmek için kullanılabilir.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Blog siteleri, bilgi paylaşımının yanı sıra okuyuculara rehberlik, ilham kaynağı ve eğlence sunar.</h5></li>
                </ul><br /><br />
                <h4 class="fst-italic">
                    Bu siteler, okuyuculara çeşitli konularda zengin içerikler sunarken,
                    blogculara da kendi seslerini duyurma ve bir takipçi kitlesi oluşturma
                    fırsatı sağlar. Bloglar, bilgi paylaşımını kolaylaştırır, toplulukları bir
                    araya getirir ve farklı perspektiflerin birleştiği zengin bir okuyucu
                    deneyimi sunar.
                </h4>
            </div>
        </div>

    </div> <br /><br /><br /><hr /><br /><br />
    <div class="container">
        <div class="row">
            <br /><br />
            <div class="col-lg-6">
                <img src="~/Images/hkmzda.jpg" class="img-fluid" alt="hakkimizda">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h4 class="fst-italic">
                    Kurumsal Web, işletmelerin dijital varlıklarını güçlendirmek ve
                    çevrimiçi varlıklarını etkili bir şekilde temsil etmek için özelleştirilmiş
                    web çözümleri sunan bir ajansdır.
                </h4><br /><br />
                <ul>
                    <li><i class="bi bi-check2-circle"></i><h5>İşletmelerin dijital varlıklarını güçlendiren özelleştirilmiş web çözümleri sunuyoruz.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Müşterilerimizin iş ihtiyaçlarını anlayarak özelleştirilmiş web tasarımı, geliştirme ve dijital pazarlama çözümleri sunuyoruz.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Estetik ve işlevsellik birleşimiyle etkileyici web siteleri oluşturuyoruz.</h5></li>
                </ul>
            </div>
        </div>
    </div> <br /><br /><br /><hr /><br /><br />

    <div class="container">
        <div class="row">
            <br /><br />
            <div class="col-lg-6">
                <img src="~/Images/hkkmzda.jpg" class="img-fluid" alt="hakkimizda">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h4 class="fst-italic"><br /><br /><br />
                    Firmamızın misyonu, müşterilerimize üstün kalite ve değer odaklı ürünler/servisler sunmak ve onların ihtiyaçlarını en iyi şekilde karşılamaktır. Amacımız, müşteri memnuniyetini en üst düzeyde tutarak güvenilirlik ve sadakat oluşturmaktır. Aynı zamanda, sürdürülebilir bir şekilde iş yapmayı ve topluma katkıda bulunmayı hedeflemekteyiz.
                    İnovasyona ve sürekli gelişime önem vererek, sektörde liderlik pozisyonunu korumak ve rekabetçi bir çevrede başarıya ulaşmak istiyoruz. Tüm faaliyetlerimizde etik değerlere uygun hareket ederek, paydaşlarımızın güvenini kazanmak ve uzun vadeli ilişkiler kurmak önemli bir önceliğimizdir.
                </h4><br /><br />
                <ul>
                    <li><i class="bi bi-check2-circle"></i><h5>Müşterilerimizin ihtiyaçlarını anlamak ve onlara değerli çözümler sunmak, misyonumuzun merkezinde yer almaktadır. </h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Müşteri memnuniyetini en üst düzeyde tutarak, onların beklentilerini aşmayı ve uzun süreli ilişkiler kurmayı hedefliyoruz.</h5></li>
                </ul>
            </div>
        </div>
    </div><br /><br /><br /><hr /><br /><br />
    <div class="container">
        <div class="row">
            <br /><br />
            <div class="col-lg-6">
                <img src="~/Images/hak.jpg" class="img-fluid" alt="hakkimizda">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <br /><br /><br /><br />
                <ul>
                    <li><i class="bi bi-check2-circle"></i><h5>Sektördeki en son teknolojik gelişmeleri takip ederek, yenilikçi çözümler üretmek ve teknoloji lideri olarak öncü bir konuma gelmek.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Faaliyet gösterdiğimiz sektörde uluslararası düzeyde tanınan ve tercih edilen bir marka olmak. Global pazarlarda etkin olmak ve dünya çapında müşterilere değer katmak.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>İş yaparken çevresel ve toplumsal etkileri göz önünde bulundurmak. Sürdürülebilirlik ilkelerine uygun olarak faaliyet göstermek ve topluma katkıda bulunmak.</h5></li>
                </ul>
            </div>
        </div>
    </div><br /><br /><br /><hr /><br /><br />
    <div class="container">
        <div class="row">
            <br /><br />
            <div class="col-lg-6">
                <img src="~/Images/foto2.jpg" class="img-fluid" alt="hakkimizda">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h4 class="fst-italic">
                </h4><br /><br /><br />
                <ul>
                    <li><i class="bi bi-check2-circle"></i><h5>Blog firmamızın amacı, zengin ve ilgi çekici içeriklerle okuyuculara değer sağlamak ve onları bilgilendirmek, eğlendirmek veya ilham vermek için bir platform sunmaktır.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Hedefimiz, her türlü konuda nitelikli ve güvenilir içerikler üreterek okuyucuların ilgi alanlarına hitap etmek ve onlara yeni bilgiler sunmaktır.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Aynı zamanda, blogumuz aracılığıyla insanları bir araya getirerek, bir topluluk oluşturmayı ve etkileşimi teşvik etmeyi hedefliyoruz.</h5></li>
                </ul><br /><br /><br /><br />
                <h4 class="fst-italic">
                    Aynı zamanda, blogumuz aracılığıyla insanları bir araya getirerek, bir topluluk oluşturmayı ve etkileşimi teşvik etmeyi hedefliyoruz. Amacımız, okuyucularımıza faydalı bir kaynak oluşturarak onların yaşamlarına katkıda bulunmak ve bilgi paylaşımını teşvik etmektir.
                </h4>
            </div>
        </div>
    </div><br /><br /><br /><hr /><br /><br />
    <div class="container">
        <div class="row">
            <br /><br />
            <div class="col-lg-6">
                <img src="~/Images/foto3.jpg" class="img-fluid" alt="hakkimizda">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <ul>
                    <li><i class="bi bi-check2-circle"></i><h5>Okuyuculara çeşitli konularda bilgi sunarak onların bilgi dağarcığını genişletmek ve öğrenme süreçlerine katkıda bulunmak.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Okuyuculara ilham kaynağı olacak hikayeler, motivasyonel içerikler ve başarı öyküleri paylaşarak onların kendilerini geliştirmelerini teşvik etmek.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Eğlenceli, keyifli ve kışkırtıcı içerikler sunarak okuyucuların günlük hayatlarında bir mola vererek keyifli vakit geçirmelerini sağlamak.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Güncel trendler, moda, teknoloji ve popüler konular hakkında içerikler üreterek okuyucuların daima güncel kalmasını sağlamak.</h5></li>
                    <li><i class="bi bi-check2-circle"></i><h5>Okuyucular arasında etkileşimi teşvik ederek bir topluluk oluşturmak, yorumlar ve geri bildirimler aracılığıyla aktif bir katılım sağlamak ve okuyucular arasında bağlantılar kurmak.</h5></li>
                </ul>
            </div>
        </div>
    </div><br /><br /><br /><hr /><br /><br />
</section>


