
@{
    ViewBag.Title = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section class="services">
    <div class="container"><h1>HİZMETLER</h1>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <img src="~/Images/blsm.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Teknoloji</a></h4>
                    <p class="description">
                        Teknoloji, hayatımızı kolaylaştıran, iletişimi güçlendiren ve yenilikçi çözümler sunarak dünyayı dönüştüren bir güçtür.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <img src="~/Images/her.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Bilim</a></h4>
                    <p class="description">Bilim, insanlığın doğayı keşfetme arzusunu tatmin ederek, evrenin sırlarını çözme yolunda ilerlemesini sağlar.</p>

                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <img src="~/Images/img.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Biyoloji</a></h4>
                    <p class="description">
                        DNA sarmalı, tüm canlıların evrimsel geçmişinin şifresini taşıyan, genetik çeşitliliğin ve adaptasyonun temelini oluşturan karmaşık bir moleküler yapıdır.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <img src="~/Images/insn.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">İnsan</a></h4>
                    <p class="description">Hayat, anlamı keşfetme yolculuğunda insanın sorgulayan ve merak eden doğasını yansıtan karmaşık bir deneyimdir.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <img src="~/Images/kltr.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Kültür</a></h4>
                    <p class="description">Kültür, insanlığın biriktirdiği bilgi, sanat, dil ve davranış kalıplarının dokusunu oluşturarak, geçmişten geleceğe uzanan bir köprüdür.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-pink">
                    <img src="~/Images/trh.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Tarih</a></h4>
                    <p class="description">Tarih, geçmişin öğretmenidir ve geleceğin rehberidir.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-cyan">
                    <img src="~/Images/din.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Din</a></h4>
                    <p class="description">Din, kalplerdeki derin duyguların, manevi bağların ve insanlığın arayışının yolu ve ifadesidir.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <img src="~/Images/zmn.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Zaman</a></h4>
                    <p class="description">Zaman, geçmişin hatıralarını, bugünün fırsatlarını ve geleceğin umutlarını bir araya getiren büyülü bir yolculuktur.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-pink">
                    <img src="~/Images/kalp.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Sağlık</a></h4>
                    <p class="description">Sağlıklı olmak, enerji dolu günler yaşamak, hayallerimizi gerçekleştirmek için gereken güce sahip olmaktır..</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-cyan">
                    <img src="~/Images/snt.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Sanat</a></h4>
                    <p class="description">Sanat, kalbin diliyle konuşan ve ruhu besleyen bir yolculuktur.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <img src="~/Images/dga.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Doğa</a></h4>
                    <p class="description">Doğa bize her gün bir resital sunar; sadece dikkatlice dinlemek ve gözlemlemek gerekmektedir.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <img src="~/Images/ktp.jpg" width="200" height="150" />
                    <h4 class="title"><a href="/Home/Hizmetlerimiz/">Kitap</a></h4>
                    <p class="description">Bir kitap, sonsuz bir dünyaya açılan anahtardır.</p>
                </div>
            </div>

        </div>

    </div>
</section>
