@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Home Page";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown"><span>Kurumsal Web</span>'e Hoşgeldiniz</h2>
                <p class="animate__animated animate__fadeInUp">Yenilikçi çözümler, sektörel trendler ve iş dünyasındaki güncel gelişmeleri bulabileceğiniz güvenilir bir kaynak.</p>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Aradığınızdan Daha Fazlası</h2>
                <p class="animate__animated animate__fadeInUp">Profesyonel içeriklerle donatılmış, ilham veren bir blog platformu olarak size iş dünyasında fark yaratan bilgiler sunuyoruz.</p>
            </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Benzersiz , Farklı , Özgün</h2>
                <p class="animate__animated animate__fadeInUp"> Güncel haberler, trend analizleri ve iş stratejilerine dair ipuçlarını keşfedin; başarınızı artırmak için sizinle birlikteyiz.</p>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <img src="~/Images/blsm.jpg" width="200" height="150" />
                        <h4 class="title"><a href="/Home/Hizmetlerimiz/">Teknoloji</a></h4>
                        <p class="description">
                            Teknoloji, hayatımızı kolaylaştıran, iletişimi güçlendiren ve yenilikçi çözümler sunarak dünyayı dönüştüren bir güçtür.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <img src="~/Images/her.jpg" width="200" height="150" />
                        <h4 class="title"><a href="/Home/Hizmetlerimiz/">Bilim</a></h4>
                        <p class="description">Bilim, insanlığın doğayı keşfetme arzusunu tatmin ederek, evrenin sırlarını çözme yolunda ilerlemesini sağlar.</p>

                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <img src="~/Images/img.jpg" width="200" height="150" />
                        <h4 class="title"><a href="/Home/Hizmetlerimiz/">Biyoloji</a></h4>
                        <p class="description">
                            DNA sarmalı, tüm canlıların evrimsel geçmişinin şifresini taşıyan, genetik çeşitliliğin ve adaptasyonun temelini oluşturan karmaşık bir moleküler yapıdır.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <img src="~/Images/insn.jpg" width="200" height="150" />
                        <h4 class="title"><a href="/Home/Hizmetlerimiz/">İnsan</a></h4>
                        <p class="description">Hayat, anlamı keşfetme yolculuğunda insanın sorgulayan ve merak eden doğasını yansıtan karmaşık bir deneyimdir.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title">
                <h2>Nitelikler</h2>
                <p>Blog sitemiz, iş dünyasında fark yaratmak isteyenler için vazgeçilmez bir kaynak olma amacıyla tasarlanmıştır. Kapsamlı sektörel içerikler sunarak, güncel trendleri takip etmenizi sağlıyor ve rekabet avantajınızı korumanızı destekliyoruz. Deneyimli uzman yazarlarımız tarafından kaleme alınan makalelerle, sektördeki en iyi bilgilere erişme imkanı sunuyoruz</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/SiteLayout/assets/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>Kapsamlı Sektörel İçerikler</h3>
                    <p class="fst-italic">
                        İş dünyasındaki güncel trendlerden, pazar analizlerine kadar geniş bir yelpazede kapsamlı ve değerli içerikler sunuyoruz.
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i> Sektörünüzdeki değişimleri takip edin ve rekabet avantajınızı koruyun.</li>
                        <li><i class="bi bi-check"></i> İşinizi büyütmek için gereken bilgilere kolayca erişin.</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/Content/SiteLayout/assets/img/features-2.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>Uzman Yazarlar</h3>
                    <p class="fst-italic">
                        Deneyimli uzman yazarlarımız tarafından kaleme alınan makalelerle, sektördeki en iyi bilgilere erişme imkanı sağlıyoruz.
                    </p>
                    <p>
                        Sizin için seçtiğimiz yazarlar, kapsamlı araştırmalar ve geniş deneyimleriyle sektörün önde gelen isimleridir. Bu sayede, güvenilir ve nitelikli içeriklerle donatılmış bir blog deneyimi sunarak, iş dünyasındaki en güncel ve etkili bilgilere erişmenizi sağlıyoruz.
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="~/Content/SiteLayout/assets/img/features-3.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>Etkileşimli İçerik Deneyimi</h3>
                    <p>Okuyucularımızın aktif katılımını teşvik etmek için yorumlar, tartışmalar ve paylaşımlarla etkileşimli bir blog deneyimi sunuyoruz.</p>
                    <ul>
                        <li><i class="bi bi-check"></i> Yorumlarınızla düşüncelerinizi paylaşın.</li>
                        <li><i class="bi bi-check"></i> Tartışmalara katılın, farklı perspektifler keşfedin.</li>
                        <li><i class="bi bi-check"></i> Paylaşımlarınızı geniş bir kitleyle paylaşın.</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="~/Content/SiteLayout/assets/img/features-4.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>İlham Veren Başarı Hikayeleri</h3>
                    <p class="fst-italic">
                        Başarılı kurumların ve girişimcilerin hikayelerini paylaşarak, motivasyon ve ilham kaynağı oluşturan içerikler sunuyoruz.
                    </p>
                    <p>
                        Size ilham verecek başarılı girişimcilerin gerçek hikayelerini keşfedip
                        onların deneyimlerinden dersler çıkararak kendi işinizde büyümeye ilham alın.
                        Başarı hikayeleriyle motivasyonunuzu yükseltin ve hedeflerinize ulaşmak için ilham kaynağı bulun.

                    </p>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

</main><!-- End #main -->
